@charset "utf-8";
/*

Thema Name: theme-demo
Theme URL; https://theme-demo.xxxxxx
Description: クラシックのテーマ保存版
Author: renren
Version: 1.0.0
License: GNU GENERAL PUBLIC LICENSE
License URL: https://www.gnu.org/licenses/gpl.html


*/